extends ./layout.pug

block content
  section.site-hero.overlay
    div.background-color-overlay
      div.container
        div.row.align-items-center.site-hero-inner.justify-content-center
          div.col-md-8.text-center
            div.mb-1.mb-md-5
              h1.mb-3
                img.swift-logo(src="./images/swift-icon-white.png")
                span=title
              div.header-info
                span.mb-4.conference-description=description
                span.mb-3.conference-date=date
                a.mb-4.conference-venue(href=venueUrl, target="_blank") @ #{venueName}

  section.mb-5#sign-up
    div.container
      h3.conference-sign-up.mt-5.mb-2 Sign-up to be notified as soon as tickets are on sale
      include mailchimpForm.pug

  section.mb-5#summary
    div.container
      h3.text.mt-5.mb-5 What to Expect
      div.row.mb-3
        each expectation in expectations
          div.col-lg-4.mb-2
            h4.mb-3=expectation.title
            p=expectation.description
  hr

  section.mb-5#speakers
    div.container
      h3.text.mt-5.mb-4 Now Calling for Speakers
      div.row.mb-3
          div.col-lg-12.mb-2
            p We are now seeking speakers for the conference. All talks will be recorded and distributed online.
            p Talks can be 10, 15 or 30 minutes in length. Depending on the proposals received we will organize the schedule accordingly.
            p Speakers will be announced over time to allow for later submissions and help us to ensure a packed schedule of great content.
            p 
              a(href=rfpUrl, target="_blank") Send us your talk proposals here

  hr

  section.mb-5#schedule
    div.container
      h3.text.mt-5.mb-4 Tentative Schedule
      table.schedule
        tr.headings
          th Time
          th Event
        tr
          td.time 9:00 - 10:00
          td Open doors &amp; Breakfast
        tr
          td.time 10:00 - 12:00
          td Morning Talks
        tr
          td.time 12:00 - 1:00
          td Lunch &amp; Networking
        tr
          td.time 1:00 - 4:45
          td Afternoon Talks
        tr
          td.time 4:45 - 5:00
          td Closing Remarks
        tr
          td.time 5:00 - 9:00
          td Post-conference celebration and networking event

  hr

  section.mb-5#sponsors
    div.container
      h3.text.mt-5.mb-4 Sponsors
      div.col-lg-12.mb-2
        h4 &lt;Your brand here&gt;
        p We are currently seeking sponsors. Sponsors help make SwiftTO an affordable conference available to everyone.
        p Details of our sponsorship tiers can be discussed and negotiated&nbsp;
          a(href="mailto:" + email) via email

  hr

  section.mb-5#organizers
    div.container
      h3.text.mt-5.mb-4 Organizers
      div.col-lg-12.mb-3.row
        p Swift TO is brought to you by the organizers of&nbsp;
          a(href="https://www.meetup.com/NSCoderTO/") NSCoderTO
          |, a macOS and iOS user group based in Toronto
      div.row
        div.col-sm-4.mb-2
          img.mb-3(src="./images/organizer-kyle.jpg")
          h5 Kyle Newsome
          a(target='_blank', href='https://twitter.com/kylnew')
            span.fa.fa-twitter
            | &nbsp;
            span kylnew
        div.col-sm-4.mb-2
          img.mb-3(src="./images/organizer-brendan.jpg")
          h5 Brendan Miller
          a(target='_blank', href='https://twitter.com/brendancmiller')
            span.fa.fa-twitter
            | &nbsp;
            span brendancmiller
        div.col-sm-4.mb-2
          img.mb-3(src="./images/organizer-bill.jpg")
          h5 Bill Parousis
          a(target='_blank', href='https://twitter.com/bparousis')
            span.fa.fa-twitter
            | &nbsp;
            span bparousis

  hr
  
  include includes/code-of-conduct.pug
  